[submodule "public"]
	path = public
	url = git@github.com:figueredo/figueredo.github.io
	branch = master
[submodule "themes/concise"]
	path = themes/concise
	url = https://github.com/figueredo/concise.git
